@font-face {
    font-family: "American Frights";
    src: url('/fonts/American Frights.woff2') format('woff2'),
    url('/fonts/American Frights.woff') format('woff'),
    url('/fonts/American Frights.ttf') format('truetype'),
    url('/fonts/American Frights.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "American Frights";
    src: url('/fonts/American Frights Italic.woff2') format('woff2'),
    url('/fonts/American Frights Italic.woff') format('woff'),
    url('/fonts/American Frights Italic.ttf') format('truetype'),
    url('/fonts/American Frights Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
