@font-face {
    font-family: "Unthinkers";
    src: url('~/public/fonts/Unthinkers.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Unthinkers";
    src: url('~/public/fonts/Unthinkers-Slant.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
